<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
{% if latest_questions %}
    <ul>
    {% for question in latest_questions %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">
                {{ question.text }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>
