<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Poll Results</title>
</head>
<body>
    <h1>{{ question.text }}</h1>
    
    <ul>
    {% for choice in question.choice_set.all %}
        <li>
            {{ choice.text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'polls:detail' question.id %}">
        Vote again?
    </a>
</body>
</html>
